mixin link(href, name)
  a(class!=attributes.class href=href)= name

mixin button(content) 
  button(class!=attributes.class)= content

mixin feature(title, content, img) 
  article.feature__item
    img(src=img, alt="image")
    h3= title 
    p= content